<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Shared constants/properties (no includes here) -->
  <!-- <xacro:property name="mesh_dir" value="$(find so101_description)/meshes/assets"/> -->
  <xacro:property name="MESH_DIR" value="package://so101_description/meshes/so101"/>
  
  <xacro:property name="default_effort"  value="10"/>
  <xacro:property name="default_velocity" value="10"/>

  <!-- Define arguments with default values -->
  <xacro:arg name="use_ros2_control" default="true"/>
  <xacro:arg name="use_ignition" default="true"/>
  
  <!-- Convert arguments to properties for use in included files -->
  <xacro:property name="use_ros2_control" value="$(arg use_ros2_control)"/>
  <xacro:property name="use_ignition" value="$(arg use_ignition)"/>

</robot>
