<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Shared constants/properties (no includes here) -->
  <!-- <xacro:property name="mesh_dir" value="$(find so101_description)/meshes/assets"/> -->
  <xacro:property name="MESH_DIR" value="package://so101_description/meshes/so101"/>
  
  <xacro:property name="default_effort"  value="10"/>
  <xacro:property name="default_velocity" value="10"/>

  <!-- STL filenames (as used by your original file) -->
  <!-- <xacro:property name="stl_base_holder"           value="base_motor_holder_so101_v1.stl"/>
  <xacro:property name="stl_base"                  value="base_so101_v2.stl"/>
  <xacro:property name="stl_servo"                 value="sts3215_03a_v1.stl"/>
  <xacro:property name="stl_servo_nohorn"          value="sts3215_03a_no_horn_v1.stl"/>
  <xacro:property name="stl_waveshare"             value="waveshare_mounting_plate_so101_v2.stl"/>
  <xacro:property name="stl_rotation_pitch"        value="rotation_pitch_so101_v1.stl"/>
  <xacro:property name="stl_upper_arm"             value="upper_arm_so101_v1.stl"/>
  <xacro:property name="stl_under_arm"             value="under_arm_so101_v1.stl"/>
  <xacro:property name="stl_wrist_holder"          value="motor_holder_so101_wrist_v1.stl"/>
  <xacro:property name="stl_wrist_roll_pitch"      value="wrist_roll_pitch_so101_v2.stl"/>
  <xacro:property name="stl_wrist_roll_follower"   value="wrist_roll_follower_so101_v1.stl"/>
  <xacro:property name="stl_moving_jaw"            value="moving_jaw_so101_v1.stl"/>
  <xacro:property name="stl_motor_holder_base"     value="motor_holder_so101_base_v1.stl"/> -->
</robot>
